//Colors

$color-bg: #E5E5E5;
$color-bg-dark: #E5E5E5;
$color-orange: #FF6600;
$color-black: #1C1C1C;
$color-gray: #657786;
$color-input-fill: #F5F8FA;

//Fontsize

h3 {
  font-size: 23px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}